
{{ form_start(form) }}
{{ form_row(form._token) }}
<div class="container post-form">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{ form_label(form.title, 'Title') }}</label>
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
                        <p class="help-block text-danger">
                            {{ form_errors(form.title) }}
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{ form_label(form.content, 'Content') }}</label>
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Content ...'}}) }}
                        <p class="help-block text-danger">
                        {{ form_errors(form.content) }}
                        </p>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <i class="fa fa-calendar"></i> 
                    {{ form_label(form.publishedAt) }}
                    {{ form_widget(form.publishedAt) }}
                    <div class="form-error">
                        {{ form_errors(form.publishedAt) }}
                    </div>
                    <p class="help-block text-danger">
                         {{ form_errors(form.publishedAt) }}
                    </p>
                </div>
                <br>

                <div class="form-group">
                    <i class="fa fa-calendar"></i> 
                    {{ form_label(form.editedAt) }}
                    {{ form_widget(form.editedAt) }}
                    <div class="form-error">
                        {{ form_errors(form.editedAt) }}
                    </div>
                    <p class="help-block text-danger">
                         {{ form_errors(form.editedAt) }}
                    </p>
                </div>
                <br>

                <div class="form-group">

                    {{ form_label(form.keywords) }}
            

                    <ul class="keywords" data-prototype="
                        <div>
                            <label>__name__</label>
                            <div id='article_keywords___name__'>
                                <div>
                                    <label for='article_keywords___name___name' class=' required'>Name</label>
                                    <input type='text' id='article_keywords___name___name' name='article[keywords][__name__][name]' required='required' maxlength='255' />
                                </div>
                            </div>
                        </div>"
                    >
                        {% for keywordForm in form.keywords %}
                            <li>
                                <div>
                                    <label>{{ loop.index0 }}</label>
                                    <div>
                                        <div>
                                            <label class="required">{{ form_label(keywordForm.name) }}</label>
                                            {{ form_widget(keywordForm.name) }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="keywords">Add a tag</button>
                </div>

                <br>



                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">
                            {{ button_label|default('Save') }}
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>
{{ form_end(form) }} 




