{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% for article in articles %}
                    <div class="post-preview">
                        <a href="{{ path('article_show', {'id': article.id}) }}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.content|length > 170 ? article.content|slice(0, 170) ~ '...' : article.content  }}
                            </h3>
                        </a>
                        {{ include('sections/articles/meta.html') }}

                        <div class="actions">
                            <a href="{{ path('article_edit', {'id': article.id}) }}">
                                <span class="fa fa-pencil"></span>
                                Edit
                            </a>
                        </div>

                    </div>
                    <hr>
                {% else %}
                    no records found
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}




